services:
  nginx:
    image: nginx:alpine
    container_name: proxy-nginx
    network_mode: host
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./landing:/var/www/landing:ro
      - /data/docker/certs:/etc/letsencrypt:ro
    restart: unless-stopped

  certbot:
    image: certbot/dns-cloudflare
    container_name: proxy-certbot
    volumes:
      - /data/docker/certs:/etc/letsencrypt
      - ../../.keys/cloudflare.ini:/etc/cloudflare/credentials.ini:ro
    environment:
      - TZ=Europe/Vienna
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    restart: unless-stopped
